@import 'normalize.css';
* {
  font-family: "Roboto", sans-serif;
}

nav {
  padding: 20px 30px;
  width: 100%;
  height: 100px;
  background: black;
  position: relative;
  z-index: 10;
}
nav .brand-logo img {
  width: 100px;
}
nav ul {
  margin-bottom: 0;
}
nav ul li {
  display: inline-block;
  font-size: 1.25em;
  margin-right: 20px;
}
nav ul li a {
  color: white;
  transition: 130ms ease-in-out;
  border-bottom: 1px solid transparent;
}
nav ul li a:hover {
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

header {
  position: relative;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 80px 0 40px 0;
}
header .header--darken {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
header h1 {
  font-size: 3.7rem;
  font-weight: bold;
}
header.subpage {
  height: 300px;
}
header .header--points h2 {
  font-weight: 600;
}
header .header--points h2, header .header--points p {
  color: white;
}
.underline {
  text-decoration: underline;
}

.ax-link {
  color: #333333;
}
.ax-link:hover {
  color: black;
}

.about-us p {
  font-size: 1.2rem;
}

.service-box img {
  border-radius: 50%;
  border: 1px solid #fefefe;
}

.parallax {
  background-position: center;
}

.price-box .line {
  width: 100%;
  height: 6px;
  background: #f7d958;
}

.price-button button:focus {
  box-shadow: none !important;
}
.price-button .active {
  background: #f7d958;
  border-color: transparent;
  color: black;
}

.portfolio-box {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 180px;
  margin-bottom: 30px;
}
.portfolio-box p {
  position: absolute;
  left: 10px;
  bottom: 5px;
  color: white;
  font-weight: 700;
  margin-bottom: 0;
  z-index: 20;
  display: block;
}
.portfolio-box:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background: linear-gradient(180deg, rgba(39, 39, 39, 0), rgba(0, 0, 0, 0.95));
  z-index: 1;
}

.text-grey {
  color: rgba(0, 0, 0, 0.6);
}

.korporat, .grafika {
  display: none;
}

.btn-gold-outline {
  color: black;
  border: 1px solid #f7d958;
}
.btn-gold-outline .active {
  font-weight: 600;
}

img.round {
  border-radius: 50%;
}

.reference-box img {
  display: block;
  margin: 0 auto 20px auto;
}
.reference-box h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.reference-box p {
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}

.contact-form {
  border-radius: 10px;
}

.btn-form {
  border-radius: 20px !important;
  background: black;
}

footer {
  background: black;
  padding: 40px 0;
}

.footer-ul li {
  margin-right: 10px;
}
.footer-ul li:last-child:after {
  content: "";
}
.footer-ul li:after {
  content: " | ";
  display: inline-block;
  color: white;
  margin-left: 10px;
}
.footer-ul li a {
  color: white;
}
@media (max-width: 768px) {
  .footer-ul li:after {
    display: none;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 960px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
  }

  header {
    padding: 40px 0 20px 0;
    height: auto;
  }
  header h1 {
    font-size: 2rem;
  }
  header .header--points img {
    width: 30px;
  }
  header .header--points h2 {
    font-size: 1rem;
  }
  header .header--points p {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  nav {
    height: 80px;
    z-index: 99;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding-left: 0;
    width: 100%;
    background: black;
    padding-top: 120px;
  }
  nav ul li {
    display: flex;
    margin: 10px 0;
    justify-content: center;
  }
  nav ul li a {
    letter-spacing: 10px;
  }
  nav .hamburger, nav .times {
    width: 33px;
    height: 33px;
    position: relative;
    display: block;
    z-index: 100;
    cursor: pointer;
  }
}
@media (max-width: 576px) {
  header.subpage {
    height: 150px;
  }
}

/*# sourceMappingURL=app.css.map */
